//----------------------------------------------------------------------------------------------
// H264Dxva2Decoder.rc
//----------------------------------------------------------------------------------------------
#include "Resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open File", ID_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "E&xit", ID_FILE_EXIT
	END
	POPUP "&Control"
	BEGIN
		MENUITEM "&Play", ID_CONTROL_PLAY
		MENUITEM "P&ause", ID_CONTROL_PAUSE
		MENUITEM "&Stop", ID_CONTROL_STOP
	END
END